{% extends 'base.html' %}
{% block content %}
<h4>{{ template }}</h4>
<hr>
<div ng-controller="NfeController">  
        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" ng-click="alert = null" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Importar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab"  ng-click="alert = null" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Notas Fiscais</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" ng-click="alert = null" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Relatórios</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-lg-12">
                                <div class="alert alert-success" ng-if="alert && alert.sucesso">{[{ alert.msg }]}</div>
                                <div class="alert alert-danger" ng-if="alert && !alert.sucesso">{[{ alert.msg }]}</div>
                                <input type="file" id="filenfe" select-ng-files ng-model="fileArray"/>
                                <button class="btn btn-primary" ng-disabled="!fileArray" ng-click="importarNfe()">Enviar</button>       
                               
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" class="form-control input-sm" placeholder="Buscar..." ng-model="search"/>
                                </div>
                                <div class="col-lg-8" style="text-align: end;">
                                    <button class="btn btn-light" ng-click="getNfe()"> <i class="fa fa-sync-alt"></i></button>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-resp">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Emissão</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Quantidade</th>
                                            <th scope="col">Vlr.Unitário</th>
                                            <th scope="col">Vlr.Total</th>
                                            <th scope="col">Tp.Serviço</th>
                                            <th scrop="col">PDF</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="n in nfe | filter:search">
                                            <th scope="row">{[{ n.numero }]}</th>
                                            <td data-label="Emissão">{[{ n.data | date:'dd/MM/y'}]}</td>
                                            <td data-label="Descrição">{[{ n.descricao }]}</td>
                                            <td data-label="Quantidade">{[{ n.quantidade }]}</td>
                                            <td data-label="Vlr.Unitário">{[{ n.valor_unitario | currency:"R$"}]}</td>
                                            <td data-label="Vlr.Total">{[{ n.valor_total_nota | currency:"R$" }]}</td>
                                            <td data-label="Tp.Serviço">{[{ n.servico[0].tipo_de_servico }]}</td>
                                            <td data-label="PDF"><a class="btn btn-light" target="_blank" href="{[{ n.pdf_dir }]}"><i class="fa fa-file-pdf"></i></a></td>
                                        </tr>
                                        <tr>
                                    </tbody>
                        </table>


                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    Em construção.
                </div>
        </div>
</div>
{% endblock %}

