{% extends 'base.html' %}
{% block content %}
    <div class="row" style="margin-top: 5%; margin-left: auto; margin-right: auto;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h6>Login</h6>
                <hr>
                <form method="post" action="{% url 'login' %}" id="form_login" novalidate>
                    {% csrf_token %}
                    {% include 'bs4_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary" id="btn_login">Login</button>
                </form>
            
            </div>   
        </div>
        <div class="col-md-4"></div>    
    </div>
{% endblock %}       
