{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Alerar Senha" "" %}
{% endblock %}
{% block content %}
    <div  class="card">
        <div  class="card-body">
        <h5  class="card-title"> Alterar Senha</h5>
        <div class="row">
        <div class="col-lg-7">
        <form method="post" action="" id="form_register" novalidate>
            {% csrf_token %}
            {% include 'bs4_form.html' with form=form %}
        
        <button  type="submit"  class="btn btn-success btn-sm">Enviar</button>
        </form>
        </div>
        </div>
        </div>
    </div>
{% endblock %}       
