{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Alerar Senha" "" %}
{% endblock %}
{% block content %}
    <div  class="card">
        <div  class="card-body">
        <h5  class="card-title"> Alterar Senha</h5>
        <div class="row">
        <div class="col-lg-7">
            Sua senha foi alterada com sucesso.
        </form>
        </div>
        </div>
        </div>
    </div>
{% endblock %}       
