{% extends 'base.html' %}
{% block content %}
<h4>{{ template }}</h4>
<hr>
<div ng-controller="ServicoController">  
    

        <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" ng-click="alert = null" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Serviços</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab"  ng-click="alert = null"  ng-click="alert = null" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Adicionar Serviço</a>
                </li>
               <!-- <li class="nav-item">
                  <a class="nav-link" id="contact-tab" ng-click="alert = null" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Relatórios</a>
                </li> -->
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" class="form-control input-sm" placeholder="Buscar..." ng-model="search"/>
                                </div>
                                <div class="col-lg-8" style="text-align: end;">
                                    <button class="btn btn-light" ng-click="getNfe()"> <i class="fa fa-sync-alt"></i></button>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-resp">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Palavra Chave</th>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Tipo de Serviço</th>
                                        <th scope="col" style="text-align: center;">Curva</th>
                                        <th scope="col" style="text-align: center;">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="servico in servicos | filter:search">
                                            <th scope="row" data-label="#">{[{ servico.id }]}</th>
                                            <td data-label="Palavra Chave">{[{ servico.palavra_chave }]}</td>
                                            <td data-label="Descrção">{[{ servico.descricao }]}</td>
                                            <td data-label="Tipo Serviço">{[{ servico.tipo_de_servico }]}</td>
                                            <td data-label="Curva" style="text-align: center;"> 
                                                <span ng-if="servico.curva == 0">A</span>
                                                <span ng-if="servico.curva == 1">B</span>
                                                <span ng-if="servico.curva == 2">C</span>
                                            </td>
                                            <td data-labe="Ações" style="text-align: center;"><button class="btn btn-light btn-sm" ng-click="abrirModalEditar(servico)"><i class="fa fa-pencil-alt"></i></button></td>

                                        </tr>
                                        <tr>
                                    </tbody>
                            </table>

                            <!-- Modal -->
                            <div class="modal fade" id="modalEditarServico" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Alterar Serviço</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      
                                        <div class="alert alert-success" ng-if="alert_editar && alert_editar.sucesso">{[{ alert_editar.msg }]}</div>
                                        <div class="alert alert-danger" ng-if="alert_editar && !alert_editar.sucesso">{[{ alert_editar.msg }]}</div>
                                        <form name="formAlterar" >
                                            <div class="row">
                                              <div class="col">
                                                <small class="text-muted">Palavra Chave</small>
                                                <input type="text" class="form-control" required placeholder="" ng-model="servico_editar.palavra_chave">
                                              </div>
                                              <div class="col">
                                                <small class="text-muted">Descrição</small>
                                                <input type="text" class="form-control" required placeholder="" ng-model="servico_editar.descricao">
                                              </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                <small class="text-muted">Tipo do Serviço</small>
                                                  <input type="text" class="form-control" required placeholder="" ng-model="servico_editar.tipo_de_servico">
                                                </div>
                                                <div class="col">
                                                    <small class="text-muted">Curva</small>
                                                    <select id="inputState" class="form-control" required ng-model="servico_editar.curva">
                                                        <!--<option selected disabled>Selecione a Curva</option>-->
                                                        <option value="0">A</option>
                                                        <option value="1">B</option>
                                                        <option value="2">C</option>
                                                    </select>
                                                </div>
                                              </div>
                                              <!--<button class="btn btn-primary btn-sm" type="submit" ng-disabled="formAdd.$invalid">Enviar</button>-->
                                        </form>


                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="fecharModalAlterar()" >Fechar</button>
                                      <button type="button" class="btn btn-primary" ng-disabled="formAlterar.$invalid || formAlterar.$pristine" ng-click="alterarServico()">Salvar Alterações</button>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            
                    
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel"  aria-labelledby="profile-tab">
                    <div class="alert alert-success" ng-if="alert && alert.sucesso">{[{ alert.msg }]}</div>
                    <div class="alert alert-danger" ng-if="alert && !alert.sucesso">{[{ alert.msg }]}</div>
                    <form name="formAdd" ng-submit="addServico()">
                        <div class="row">
                          <div class="col">
                            <small class="text-muted">Palavra Chave</small>
                            <input type="text" class="form-control" required placeholder="" ng-model="servico.palavra_chave">
                          </div>
                          <div class="col">
                            <small class="text-muted">Descrição</small>
                            <input type="text" class="form-control" required placeholder="" ng-model="servico.descricao">
                          </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <small class="text-muted">Tipo do Serviço</small>
                              <input type="text" class="form-control" required placeholder="" ng-model="servico.tipo_de_servico">
                            </div>
                            <div class="col">
                                <small class="text-muted">Curva</small>
                                <select id="inputState" class="form-control" required ng-model="servico.curva">
                                    <!--<option selected disabled>Selecione a Curva</option>-->
                                    <option value="0">A</option>
                                    <option value="1">B</option>
                                    <option value="2">C</option>
                                </select>
                            </div>
                          </div>
                          <button class="btn btn-primary btn-sm" type="submit" ng-disabled="formAdd.$invalid">Enviar</button>
                    </form>

                </div>
                <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    Em construção.
                </div>-->
        </div>
      
  
</div>

{% endblock %}

