{% extends 'base.html' %}
{% block content %}
<h4>{{ template }}</h4>
<hr>
<div ng-controller="RelatorioController"> 
    <div class="row"> 
        <div class="col-lg-12">
            <div ng-if="graficoMensal"  fusioncharts id="my-chart-id" width="100%" height="400" type="column2d" dataSource="{[{ graficoMensal }]}">
            </div>
        </div>
    </div>    
    <hr>
    <div class="row"> 
        <div class="col-lg-6" style="text-align: center;">
            <div ng-if="graficoGastoPorServico"  fusioncharts id="my-chart-id-2" width="700" height="400" type="pie2d" dataSource="{[{ graficoGastoPorServico }]}">
            </div>
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <div ng-if="graficoGastoPorMaterial"  fusioncharts id="my-chart-id-3" width="700" height="400" type="pie2d" dataSource="{[{ graficoGastoPorMaterial }]}">
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

