{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NFE</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
    <style>
        .active{
            color: black !important;
            background-color: #DCDCDC !important;
            border: 0px !important;
        }
        .row{
            margin-bottom: 10px;
        }
        .tab-pane{
            padding: 10px 10px 10px 10px;
        }
        button:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
        }


        /*TABELA RESPONSIVA e FORM*/
        @media(max-width: 700px){
            .table-resp thead{
              display: none;
            }
          
            .table-resp tr{
                display: block;
                border-bottom: 2px solid #dce0e0;
            }
          
            .table-resp tr td{
                width: 100%;
                display: block;
                text-align: right;
                border-bottom: 1px dotted #ccc;
            }
          
            .table-resp tr td:last-child {
              border-bottom: 0;
            }
          
            .table-resp tr td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                font-size: 12px;
            }
        }


    </style>
</head>
<body ng-app="SistemaNfe">

    <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    {% if user.is_authenticated %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" ng-controller="ObraSelecionadaController">Custo de Obras <br><span id="obraSelecionada" style="font-size: 14px; display: none;">{[{ obra.codigo }]} {[{ obra.cidade }]}-{[{  obra.estado }]}</span></div>
      
        <div class="list-group list-group-flush">
            
        {% if not 'selecionar_obra' in request.path %}    
        <a href="/nfe" class="list-group-item list-group-item-action bg-light {% if 'nfe' in  request.path %}active{% endif %}">Notas Fiscais</a>
        <a href="/servico" class="list-group-item list-group-item-action bg-light {% if 'servico' in  request.path %}active{% endif %}">Serviços</a>
        <a href="/relatorio" class="list-group-item list-group-item-action bg-light {% if 'relatorio' in  request.path %}active{% endif %}">Relatórios</a>
        {% endif %}
       <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>-->
        </div>
    </div>
    {% endif %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% if user.is_authenticated  %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!--<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!--<li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i> Olá, {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">#</a>
                <a class="dropdown-item" href="#">#</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout/" ng-controller="LogoutController" ng-click="logout()"><i class="fa fa-sign-out-alt"></i> Sair</a>
                </div>
            </li>
            </ul>
        </div>
        </nav>
        {% endif %}
        <div id="corpo" class="container-fluid" style="margin-top: 10px; display: none;" >
            {% block content %}{% endblock %}
        </div>
        </div>
    <!-- /#page-content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
    

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-cookies.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

   
    <!-- Including the fusioncharts core library -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- Including the angularjs-fusioncharts directive-->
    <script type="text/javascript" src="https://unpkg.com/angularjs-fusioncharts@4.0.1/dist/angular-fusioncharts.js"></script>
    <!-- Including the fusion theme -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>    

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>


    <script>
        $(document).ready(v=>{ $('#corpo').show(); $('#obraSelecionada').show()  })
    </script>

</body>

</html>