{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group input-group-sm">
    
    {% if field.field.required %}
      <label style="margin-bottom: 0px; font-size: 12px;"><b>{{ field.label_tag }}*</b></label>
    {% else %}
      <label style="margin-bottom: 0px; font-size: 12px;">{{ field.label_tag }}</label>
    {% endif %}

    {% if form.is_bound %}
      {% if field.errors %}

          {% if  field.field.widget.input_type == 'checkbox' %}
            {% render_field field class="form-check-input is-invalid" style="margin-left: 10px; cursor: pointer;" %}
          {% elif field.field.widget.input_type == 'file'  %}
            <br>
            {% render_field  field class="form-control-file is-invalid" %}
            <hr>
          {% else %}
            {% render_field  field class="form-control is-invalid" %}
          {% endif %}

        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}

      {% else %}

          {% if  field.field.widget.input_type == 'checkbox' %}
            {% render_field field class="form-check-input is-valid" style="margin-left: 10px; cursor: pointer;" %}
          {% elif field.field.widget.input_type == 'file'  %}
            <br>
            {% render_field  field class="form-control-file is-valid" %}
            <hr>
          {% else %}
            {% render_field  field class="form-control is-valid" %}
          {% endif %}

      {% endif %}
    {% else %}

      {% if  field.field.widget.input_type == 'checkbox' %}
        {% render_field  field class="form-check-input" style="margin-left: 10px; cursor: pointer;"%}
      {% elif field.field.widget.input_type == 'file'  %}   
          <br>
          {% render_field  field class="form-control-file" %}
          <hr>
      {% else %}
        {% render_field  field class="form-control" %}
      {% endif %}
      
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
  </div>
{% endfor %}
