{% extends 'base.html' %}
{% block content %}
<h4>{{ template }}</h4>
<hr>
<div ng-controller="ObraController">  
        <div class="form-check"  ng-repeat="obra in obras">
                <input class="form-check-input" type="radio" ng-click="selecionarObra(obra)" name="obra">
                <label class="form-check-label" for="exampleRadios1">
                  {[{ obra.codigo }]} {[{ obra.cidade }]}-{[{  obra.estado }]}
                </label>
        </div>
        <button class="btn btn-primary btn-sm" ng-disabled="!obra" ng-click="confirmarSelecao()">Confirmar</button>
</div>
{% endblock %}